* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body div,
body p,
body h2 {
  margin: 0;
}
body button {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  background-color: #674188;
  width: 100%;
  text-transform: uppercase;
}
body form {
  position: relative;
  max-width: 640px;
  width: 100%;
  height: 100%;
  margin: auto;
}
body form fieldset {
  all: unset;
  background-color: #fffbf5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body form fieldset#section01 {
  z-index: 1;
}
body form fieldset#section01 > legend {
  position: static;
}
body form fieldset.active {
  z-index: 999;
}
body form fieldset legend {
  position: absolute;
  top: -50%;
}
body form fieldset .button-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

em {
  font-style: normal;
}

.caution {
  font-family: "material icons";
}

.thankyou_message {
  position: relative;
  z-index: 999;
}

.check-yes {
  display: none;
}