@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Klee One", cursive;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body div,
body ul,
body li,
body p,
body samp,
body section {
  font-size: 16px;
  line-height: 2rem;
  letter-spacing: 1px;
}
body button,
body input,
body label,
body samp,
body textarea {
  font-family: "Klee One", cursive;
}
body div,
body p,
body h2,
body h1 {
  margin: 0;
}
body button {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  padding: 16px 10px;
  background-color: #674188;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
}
body button:disabled {
  background-color: rgba(0, 0, 0, 0.2);
}
body form {
  position: relative;
  max-width: 640px;
  width: 100%;
  height: 100%;
  margin: auto;
}
body form fieldset {
  all: unset;
  box-sizing: border-box;
  background-color: #fffbf5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
body form fieldset > div {
  border-bottom: 1px solid #674188;
  padding-bottom: 2rem;
}
body form fieldset > div h2 {
  color: #674188;
}
body form fieldset > div .caution {
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding-left: 1rem;
  margin-top: 0.4rem;
}
body form fieldset > div .caution::before {
  content: "error";
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "material icons";
}
body form fieldset > article {
  margin-top: 2rem;
}
body form fieldset > article .input-box input[type=text], body form fieldset > article .input-box input[type=datetime-local] {
  width: 100%;
  font-size: 16px;
  border: 1px solid #674188;
  background-color: #fff;
  padding: 1rem;
  outline: none;
}
body form fieldset > article .input-box input[type=text]:focus, body form fieldset > article .input-box input[type=datetime-local]:focus {
  border-radius: 0;
  border: 1px solid #ff6969;
}
body form fieldset > article .input-box input[type=text]::-moz-placeholder, body form fieldset > article .input-box input[type=datetime-local]::-moz-placeholder {
  color: rgba(103, 65, 136, 0.6);
}
body form fieldset > article .input-box input[type=text]::placeholder, body form fieldset > article .input-box input[type=datetime-local]::placeholder {
  color: rgba(103, 65, 136, 0.6);
}
body form fieldset > article .input-box input[type=radio] {
  display: none;
}
body form fieldset > article .input-box input[type=radio] + label {
  cursor: pointer;
  position: relative;
  top: 4px;
  padding-left: 2rem;
}
body form fieldset > article .input-box input[type=radio] + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 1px solid rgba(103, 65, 136, 0.4);
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
body form fieldset > article .input-box input[type=radio]:checked + label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 3px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #674188;
}
body form fieldset > article .input-box textarea {
  height: 150px;
  resize: none;
  width: 100%;
  font-size: 16px;
  border: 1px solid #674188;
  background-color: #fff;
  padding: 1rem;
  outline: none;
}
body form fieldset > article .input-box textarea:focus {
  border-radius: 0;
  border: 1px solid #ff6969;
}
body form fieldset > article .input-box textarea::-moz-placeholder {
  color: rgba(103, 65, 136, 0.6);
}
body form fieldset > article .input-box textarea::placeholder {
  color: rgba(103, 65, 136, 0.6);
}
body form fieldset > article .input-box span {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
body form fieldset > article .input-box .check-yes {
  display: none;
  border-top: 1px dashed rgba(103, 65, 136, 0.6);
  margin-top: 1rem;
  padding-top: 1rem;
}
body form fieldset > article .input-box label {
  display: block;
  margin-bottom: 1rem;
}
body form fieldset > article .input-box:not(:last-child) {
  margin-bottom: 2rem;
}
body form fieldset#section01 {
  z-index: 1;
}
body form fieldset#section01 section {
  height: 94%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body form fieldset#section01 section::-webkit-scrollbar {
  display: none;
}
body form fieldset#section01 h1 {
  color: #674188;
  text-align: center;
  border-bottom: 1px solid #674188;
  padding-bottom: 1rem;
  font-weight: 600;
}
body form fieldset#section01 .text-box {
  padding: 2rem 0;
  border-bottom: 0;
}
body form fieldset#section01 .text-box em {
  background-color: #ff6969;
  color: #fff;
  border-radius: 4px;
  padding: 1px 6px 2px;
}
body form fieldset#section01 h3 {
  color: #ff6969;
}
body form fieldset#section01 ul {
  list-style: none;
  padding: 2rem 0 0;
  margin: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
}
body form fieldset#section01 ul li {
  position: relative;
  list-style-position: inside;
  padding-left: 1.6rem;
  font-size: 14px;
  color: #ff6969;
}
body form fieldset#section01 ul li::before {
  content: "error";
  font-family: "material icons";
  position: absolute;
  left: 0;
  top: 2px;
}
body form fieldset#section01 ul li samp {
  background-color: rgba(103, 65, 136, 0.8);
  color: #fff;
  border-radius: 4px;
  padding: 0 6px 4px;
}
body form fieldset.active {
  z-index: 999;
}
body form fieldset legend {
  position: absolute;
  top: -50%;
}
body form fieldset .button-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

em {
  font-style: normal;
}

.thankyou_message {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #674188;
  color: #fff;
  z-index: 999;
}
.thankyou_message div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 20px;
}