// variable
$colorWhite: #fff;
$colorBlack: #000;
//

.caution {
  font-family: "material icons";
}

fieldset {
  display: none;
  background-color: $colorWhite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#section01 {
  display: block;
  z-index: 1;
}

.active {
  display: block;
  z-index: 999;
}

.thankyou_message {
  position: relative;
  z-index: 999;
}
